body {
  font-family: Verdana, Helvetica, Arial;
  margin: 0;
  padding: 0;
  background-color: #B3B3B6;
  color: #858585;
  font-size: 13px;
  background-image: url(/images/layout/background.png);
}

a img {
  border: none;
}

a {
  color: #3C50B1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 6px 50px;
  margin-top: 10px;
  color: #FFF;
}

#flash_notice {
  background-color: #1D5222;
}

#flash_error, #flash_alert {
  background-color: #9D1A1C;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 360px;
  padding: 0px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #B72128;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 12px;
  color: #FFF;
}

#container .error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  color: #FFF;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


#error_message {
  padding: 80px 50px;
  font-size: 14px;
  text-align: left;
  width: 350px;
  line-height: 25px;
}

#error_message h2 {
  font-size: 22px;
}


/*** Logo ***/

#logo {
  float: left;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}



/*** Navigation ***/

#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100px;
  margin-left: 400px;
  width: 610px;
}

#nav li {
  float: left;
}

#nav li.gap {
  width: 8px;
  height: 1px;
}

#nav li.banner {
  box-shadow: 7px 7px 40px #202020;
  -webkit-box-shadow: 7px 7px 40px #202020;
  -moz-box-shadow: 7px 7px 40px #202020;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#202020, offX=7, offY=7, positive=true);
}

#nav li a {
  display: block;
  padding-top: 70px;
  padding-bottom: 12px;
  width: 140px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}

#nav li.blue {
  background-color: #5A4AAC;
  background: -webkit-gradient(linear, left bottom, left top, from(#5A4AAC), to(#0E0A18));
  background: -moz-linear-gradient(center bottom, #5A4AAC 0%, #0E0A18 100%);
}

#nav li.purple {
  background-color: #884EB1;
  background: -webkit-gradient(linear, left bottom, left top, from(#884EB1), to(#0C0610));
  background: -moz-linear-gradient(center bottom, #884EB1 0%, #0C0610 100%);
}

#nav li.red {
  background-color: #A64F6B;
  background: -webkit-gradient(linear, left bottom, left top, from(#A64F6B), to(#10070B));
  background: -moz-linear-gradient(center bottom, #A64F6B 0%, #10070B 100%);
}

#nav li.brown {
  background-color: #AB684F;
  background: -webkit-gradient(linear, left bottom, left top, from(#AB684F), to(#0F0806));
  background: -moz-linear-gradient(center bottom, #AB684F 0%, #0F0806 100%);
}

#container {
  background-color: #F5F1F9;
}

#container.two_stones {
  background: #F5F1F9 url(/images/layout/two_stones.png) top right no-repeat;
}

#container.three_stones {
  background: #F5F1F9 url(/images/layout/three_stones.png) top right no-repeat;
}

#container h2, #container h3 {
  color: #979797;
}

#go_resources {
  padding: 50px 80px;
  font-size: 14px;
  text-align: left;
  width: 350px;
  line-height: 25px;
}

#go_resources h2 {
  font-size: 22px;
}

#go_resources ul {
  margin-left: 18px;
  padding-left: 0;
}


/*** Forms ***/

form label {
  float: left;
  width: 142px;
  text-align: right;
  padding-right: 8px;
}

.field {
  margin-left: 150px;
}


/*** Footer ***/

#footer {
  clear: both;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  color: #555;
}

#footer a {
  color: #444;
}


/*** Games ***/

.games .game {
  position: relative;
  width: 300px;
  height: 76px;
}

.games .game .details {
  position: absolute;
  top: 10px;
  left: 90px;
}

.games .game .player {
  padding-top: 8px;
  padding-left: 22px;
}

.games .game .black {
  background: url(/images/game/small_black_stone.png) no-repeat 9px left;
}

.games .game .white {
  background: url(/images/game/small_white_stone.png) no-repeat 9px left;
}

.games .game .thumbnail {
  position: absolute;
  width: 76px;
  height: 76px;
  display: block;
}

.games .game .go_button {
  position: absolute;
  right: 15px;
  top: 25px;
}
