body {
  color: #FFF;
  background-color: #18242D;
  background-image: url(/images/game/background.png);
}

#logo {
  margin-bottom: 0;
}


/*** Navigation ***/

#nav li.gap {
  width: 8px;
  height: 65px;
  background-color: #12111B;
  box-shadow: 7px 7px 8px #000;
  -webkit-box-shadow: 7px 7px 8px #000;
  -moz-box-shadow: 7px 7px 8px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=7, offY=7, positive=true);
}

#nav li.banner {
  box-shadow: 7px 7px 30px #000;
  -webkit-box-shadow: 7px 7px 30px #000;
  -moz-box-shadow: 7px 7px 30px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=7, offY=7, positive=true);
}

#nav li a {
  display: block;
  padding-top: 50px;
  padding-bottom: 12px;
  width: 140px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  margin-top: -10px;
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
}

#nav li a:hover {
  margin-top: 0;
}

#nav li.blue {
  background-color: #463B8C;
  background: -webkit-gradient(linear, left bottom, left top, from(#463B8C), to(#181430));
  background: -moz-linear-gradient(center bottom, #463B8C 0%, #181430 100%);
}

#nav li.purple {
  background-color: #663A86;
  background: -webkit-gradient(linear, left bottom, left top, from(#663A86), to(#24122F));
  background: -moz-linear-gradient(center bottom, #663A86 0%, #24122F 100%);
}

#nav li.red {
  background-color: #7A394E;
  background: -webkit-gradient(linear, left bottom, left top, from(#7A394E), to(#251018));
  background: -moz-linear-gradient(center bottom, #7A394E 0%, #251018 100%);
}

#nav li.brown {
  background-color: #7D4C39;
  background: -webkit-gradient(linear, left bottom, left top, from(#7D4C39), to(#2A131B));
  background: -moz-linear-gradient(center bottom, #7D4C39 0%, #2A131B 100%);
}


/*** Game Area ***/

#game {
  position: relative;
}

#game .games_column {
  position: absolute;
  background-color: #CCBBA7;
  width: 245px;
  left: 740px;
  top: 0px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #000;
  color: #FFF;
}

#game .games_column .inner {
  background-color: #CCBBA7;
  color: #000;
  margin: 0 2px;
}

#game .games_column h2 {
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: normal;
}

.games_column .pagination {
  margin: 10px 0;
  text-align: center;
  color: #DDD;
}

.games_column .pagination a {
  color: #DDD;
  text-decoration: none;
  background-color: #000;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.games_column .pagination a:hover {
  color: #FFF;
  background-color: #444;
}

.games_column .game {
  border-bottom: solid 1px #7E674C;
}

.games_column .game .thumbnail {
  width: 80px;
  height: 80px;
  float: left;
  background-color: #9A6E34;
  border: solid 1px #4C3707;
  margin: 10px 0;
  margin-left: 20px;
}

.games_column .game .details {
  padding-top: 20px;
  margin-left: 100px;
  margin-right: 10px;
  text-align: center;
}

.games_column .game .vs {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
}

#game_area {
  position: absolute;
  top: -40px;
  left: 60px;
}

#top_player {
  position: absolute;
  top: 0;
}

#top_player .bowl {
  position: absolute;
  left: 420px;
  top: 0;
}

#top_player .lid {
  position: absolute;
  left: 268px;
  top: 20px;
}

#top_player .profile {
  position: absolute;
  left: 0;
  top: 100px;
}

#bottom_player {
  position: absolute;
  top: 800px;
}

#bottom_player .bowl {
  position: absolute;
  left: 10px;
  top: 0;
}

#bottom_player .lid {
  position: absolute;
  left: 200px;
  top: 40px;
}

#bottom_player .profile {
  position: absolute;
  left: 400px;
  top: 80px;
}

#player_actions {
  position: absolute;
  left: 402px;
  top: 960px;
  width: 200px;
}

#move_nav {
  position: absolute;
  left: 402px;
  top: 828px;
  width: 200px;
}

#move_nav a, #player_actions a {
  color: #CCC;
  text-decoration: none;
  background-color: #000;
  padding: 4px 8px;
  margin-right: 8px;
  float: left;
  display: block;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#move_nav a {
  font-weight: bold;
}

#move_nav a:hover {
  color: #FFF;
  background-color: #444;
}

#player_actions a {
  color: #FFF;
}

#player_actions a:hover {
  background-color: #740000;
}

.bowl {
  z-index: 20;
}

.lid {
  z-index: 8;
}

.player .profile {
  color: #FFF;
  font-size: 15px;
  line-height: 21px;
  width: 200px;
}

.player .name {
  font-weight: bold;
}

.player .avatar {
  width: 64px;
  height: 64px;
  background-color: #2D6677;
  border: solid 1px #000;
  float: left;
}

.player .details {
  margin-left: 80px;
}

#board {
  position: absolute;
  top: 200px;
  box-shadow: 10px 10px 30px #000;
  -webkit-box-shadow: 10px 10px 30px #000;
  -moz-box-shadow: 10px 10px 30px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=10, offY=10, positive=true);
  width: 620px;
  height: 620px;
}

#board.size_19 {
  background-image: url(/images/game/19/board.png);
}

#board.size_13 {
  background-image: url(/images/game/13/board.png);
}

#board.size_9 {
  background-image: url(/images/game/9/board.png);
}

.size_19 #board_spaces {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 575px;
}

.size_13 #board_spaces {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 550px;
}

.size_9 #board_spaces {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 535px;
}

#board_spaces div {
  float: left;
  background-repeat: no-repeat;
}

.size_19 #board_spaces div {
  width: 30px;
  height: 30px;
}

.size_13 #board_spaces div {
  width: 42px;
  height: 42px;
}

.size_9 #board_spaces div {
  width: 59px;
  height: 59px;
}

#board.size_19 .w {
  background-image: url(/images/game/19/white_stone.png);
}

#board.size_19 .b {
  background-image: url(/images/game/19/black_stone.png);
}

#board.size_13 .w {
  background-image: url(/images/game/13/white_stone.png);
}

#board.size_13 .b {
  background-image: url(/images/game/13/black_stone.png);
}

#board.size_9 .w {
  background-image: url(/images/game/9/white_stone.png);
}

#board.size_9 .b {
  background-image: url(/images/game/9/black_stone.png);
}

#user_nav {
  float: right;
  font-size: 12px;
}


/*** New Game Form ***/

#new_game_overlay {
  background: url(/images/game/black_overlay.png);
  position: absolute;
  left: 95px;
  top: 320px;
  width: 430px;
  z-index: 40;
  border: solid 8px #513F2C;
}

#new_game {
  padding: 30px 50px;
}

#new_game a {
  color: #FFF;
}