body {
  color: #FFF;
  background-color: #18242D;
  background-image: url(/images/game/background.png);
}

#logo {
  margin-bottom: 0;
}

#flash_notice, #flash_error, #flash_alert {
  margin-bottom: 20px;
}


/*** Navigation ***/

#nav li.gap {
  width: 8px;
  height: 65px;
  background-color: #12111B;
  box-shadow: 7px 7px 8px #000;
  -webkit-box-shadow: 7px 7px 8px #000;
  -moz-box-shadow: 7px 7px 8px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=7, offY=7, positive=true);
}

#nav li.banner {
  box-shadow: 7px 7px 30px #000;
  -webkit-box-shadow: 7px 7px 30px #000;
  -moz-box-shadow: 7px 7px 30px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=7, offY=7, positive=true);
}

#nav li a {
  display: block;
  padding-top: 50px;
  padding-bottom: 12px;
  width: 140px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  margin-top: -10px;
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
}

#nav li a:hover {
  margin-top: 0;
}

#nav li.blue {
  background-color: #463B8C;
  background: -webkit-gradient(linear, left bottom, left top, from(#463B8C), to(#181430));
  background: -moz-linear-gradient(center bottom, #463B8C 0%, #181430 100%);
}

#nav li.purple {
  background-color: #663A86;
  background: -webkit-gradient(linear, left bottom, left top, from(#663A86), to(#24122F));
  background: -moz-linear-gradient(center bottom, #663A86 0%, #24122F 100%);
}

#nav li.red {
  background-color: #7A394E;
  background: -webkit-gradient(linear, left bottom, left top, from(#7A394E), to(#251018));
  background: -moz-linear-gradient(center bottom, #7A394E 0%, #251018 100%);
}

#nav li.brown {
  background-color: #7D4C39;
  background: -webkit-gradient(linear, left bottom, left top, from(#7D4C39), to(#2A131B));
  background: -moz-linear-gradient(center bottom, #7D4C39 0%, #2A131B 100%);
}


/*** Game Area ***/

#game {
  position: relative;
}

#game_area {
  position: absolute;
  top: -40px;
  left: 60px;
}

#top_player {
  position: absolute;
  top: 0;
}

#top_player .bowl {
  position: absolute;
  left: 420px;
  top: 0;
}

#top_player .lid, #top_player .captured {
  position: absolute;
  left: 268px;
  top: 20px;
}

#top_player .avatar {
  position: absolute;
  left: 0;
  top: 80px;
}

#top_player .profile {
  position: absolute;
  left: 58px;
  top: 80px;
}

#bottom_player {
  position: absolute;
  top: 800px;
}

#bottom_player .bowl {
  position: absolute;
  left: 10px;
  top: 0;
}

#bottom_player .lid, #bottom_player .captured {
  position: absolute;
  left: 200px;
  top: 40px;
}

#bottom_player .avatar {
  position: absolute;
  left: 400px;
  top: 80px;
}

#bottom_player .profile {
  position: absolute;
  left: 458px;
  top: 80px;
}

#player_actions {
  margin-top: 5px;
}

#sound_switch {
  position: absolute;
  left: 580px;
  top: 833px;
}

#move_nav {
  position: absolute;
  left: 345px;
  top: 828px;
  width: 230px;
  z-index: 30;
}

#move_nav a, #player_actions a {
  color: #CCC;
  text-decoration: none;
  background-color: #000;
  padding: 4px 8px;
  margin-right: 8px;
  float: left;
  display: block;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#move_nav a {
  font-weight: bold;
}

#move_nav a:hover {
  color: #FFF;
  background-color: #444;
}

#player_actions a {
  color: #FFF;
}

#player_actions a:hover {
  background-color: #740000;
}

.bowl {
  z-index: 20;
}

.lid {
  z-index: 8;
}

.player .profile {
  color: #FFF;
  font-size: 15px;
  line-height: 21px;
  width: 200px;
}

.player .name {
  font-weight: bold;
}

#board {
  position: absolute;
  top: 200px;
  box-shadow: 10px 10px 30px #000;
  -webkit-box-shadow: 10px 10px 30px #000;
  -moz-box-shadow: 10px 10px 30px #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=10, offY=10, positive=true);
  width: 620px;
  height: 620px;
}

#board.size_19 {
  background-image: url(/images/game/19/board.png);
}

#board.size_13 {
  background-image: url(/images/game/13/board.png);
}

#board.size_9 {
  background-image: url(/images/game/9/board.png);
}

.size_19 #board_spaces {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 575px;
}

.size_13 #board_spaces {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 550px;
}

.size_9 #board_spaces {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 535px;
}

#board_spaces div {
  float: left;
  background-repeat: no-repeat;
}

.size_19 #board_spaces div {
  width: 30px;
  height: 30px;
}

.size_13 #board_spaces div {
  width: 42px;
  height: 42px;
}

.size_9 #board_spaces div {
  width: 59px;
  height: 59px;
}

#board.size_19 .w {
  background-image: url(/images/game/19/white_stone.png);
}

#board.size_19 .b {
  background-image: url(/images/game/19/black_stone.png);
}

#board.size_13 .w {
  background-image: url(/images/game/13/white_stone.png);
}

#board.size_13 .b {
  background-image: url(/images/game/13/black_stone.png);
}

#board.size_9 .w {
  background-image: url(/images/game/9/white_stone.png);
}

#board.size_9 .b {
  background-image: url(/images/game/9/black_stone.png);
}

#board.size_19 .w.last {
  background-image: url(/images/game/19/last_white_stone.png);
}

#board.size_19 .b.last {
  background-image: url(/images/game/19/last_black_stone.png);
}

#board.size_13 .w.last {
  background-image: url(/images/game/13/last_white_stone.png);
}

#board.size_13 .b.last {
  background-image: url(/images/game/13/last_black_stone.png);
}

#board.size_9 .w.last {
  background-image: url(/images/game/9/last_white_stone.png);
}

#board.size_9 .b.last {
  background-image: url(/images/game/9/last_black_stone.png);
}

#user_nav {
  float: right;
  font-size: 12px;
}

.captured .stone {
  position: absolute;
  width: 29px;
  height: 29px;
}

.black_captured .stone {
  background-image: url(/images/game/19/white_stone.png);
}

.white_captured .stone {
  background-image: url(/images/game/19/black_stone.png);
}

.captured .stone1 {
  z-index: 11;
  left: 78px;
  top: 58px;
}

.captured .stone2 {
  z-index: 12;
  left: 55px;
  top: 67px;
}

.captured .stone3 {
  z-index: 13;
  left: 72px;
  top: 83px;
}

.captured .stone4 {
  z-index: 14;
  left: 95px;
  top: 72px;
}

.captured .stone5 {
  z-index: 9;
  left: 60px;
  top: 42px;
}

.captured .stone6 {
  z-index: 16;
  left: 45px;
  top: 85px;
}

.captured .stone7 {
  z-index: 10;
  left: 86px;
  top: 40px;
}

.captured .stone8 {
  z-index: 17;
  left: 88px;
  top: 98px;
}

.captured .stone9 {
  z-index: 9;
  left: 40px;
  top: 58px;
}

.captured .stone10 {
  z-index: 18;
  left: 60px;
  top: 98px;
}

.black_captured .info {
  color: #000;
  text-shadow: #EAEAEA 2px 2px 2px;
}

.white_captured .info {
  color: #E8E8E8;
  text-shadow: #000 2px 2px 2px;
}

.captured .info {
  position: absolute;
  z-index: 22;
  left: 22px;
  top: 55px;
  width: 100px;
  text-align: center;
  font-size: 11px;
  padding: 4px 8px;
}

.captured .info .count {
  display: block;
  font-size: 24px;
}


/*** New Game Form ***/

#new_game_overlay {
  background: url(/images/game/black_overlay.png);
  position: absolute;
  left: 95px;
  top: 320px;
  width: 430px;
  z-index: 40;
  border: solid 8px #513F2C;
}

#new_game {
  padding: 30px 50px;
}

#new_game a {
  color: #FFF;
}

#new_game .play_against {
  line-height: 24px;
}

/*** Games Column ***/

#game #side {
  position: absolute;
  left: 740px;
  top: 0px;
}

.games {
  margin-bottom: 40px;
}

.games .game {
  background-image: url(/images/game/clear_white_overlay.png);
  color: #FFF;
}

.games .game .status {
  color: #CCC;
}

.games .game_divider {
  background-image: url(/images/game/solid_white_overlay.png);
  height: 6px;
}

#game .games h2 {
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: normal;
  background-color: #0D1216;
  margin: 0;
  padding: 8px 0;
  font-weight: bold;
  font-size: 14px;
  color: #E3E3E3;
}

.games .pagination {
  margin: 10px 0;
  text-align: center;
  color: #DDD;
}

.games .pagination a {
  color: #DDD;
  text-decoration: none;
  background-color: #000;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.games .pagination a:hover {
  color: #FFF;
  background-color: #444;
}
