#container {
  position: relative;
}

#welcome {
  line-height: 24px;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 390px;
}

#welcome h2 {
  font-size: 25px;
}

#game_actions {
  padding-top: 350px;
  padding-bottom: 30px;
}

#games {
  margin-left: 385px;
}

#container .games h2 {
  font-size: 22px;
  background-color: #A3A4A5;
  color: #FFF;
  padding: 8px 10px;
  margin: 0;
}

.games .game {
  background-color: #D6D4DC;
  margin-top: 10px;
}

.game .details {
  color: #696969;
}

.games {
  float: right;
  margin-right: 20px;
}

.full #other_games {
  float: none;
  margin-right: 0;
}

.full #other_games .game {
  float: left;
  margin-right: 10px;
}

.full .pagination {
  clear: both;
}

.games .pagination {
  margin: 10px 0;
  text-align: center;
  color: #777;
}

.games .pagination a {
  color: #777;
  text-decoration: none;
  background-color: #D5D5D5;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.games .pagination a:hover {
  color: #FFF;
  background-color: #444;
}



#play {
  float: left;
  width: 350px;
}

#click_to_play {
  background-color: #7B7DC7;
  font-size: 22px;
  color: #FFF;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-align: right;
}

#click_to_play img {
  vertical-align: top;
  padding-top: 1px;
  padding-right: 3px;
}

#screencast {
  text-align: center;
  padding-top: 10px;
}

.screencast_placeholder {
  background-color: #CCC;
  border: solid 1px #999;
  width: 280px;
  height: 220px;
  margin: 0 auto;
}
