#container {
  position: relative;
}

#welcome {
  line-height: 24px;
  position: absolute;
  top: 50px;
  left: 55px;
  width: 390px;
}

#welcome h2 {
  font-size: 25px;
}

.columns {
  padding-top: 350px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 30px;
}

.column {
  float: left;
  width: 33.333%;
}

.column_padding {
  margin-right: 20px;
}

.column h2 a {
  position: absolute;
  display: block;
  right: 10px;
  top: 7px;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px 6px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #000;
  background: #D3D3D3;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#CCC));
  background: -moz-linear-gradient(top,  #F2F2F2,  #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#CCC');
}

.column #your_games h2 {
  background-color: #7B7DC7;
}

.column .pagination {
  margin: 10px 0;
  text-align: center;
  color: #777;
}

.column .pagination a {
  color: #777;
  text-decoration: none;
  background-color: #D5D5D5;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.column .pagination a:hover {
  color: #FFF;
  background-color: #444;
}

.no_games {
  background-color: #D6D4DC;
  color: #484848;
  margin-top: 8px;
  text-align: center;
  padding: 10px 0;
}

.no_games .details {
  margin-bottom: 12px;
}

.column .buttons {
  text-align: center;
  margin-top: 15px;
}


/*** Users List ***/

.column .user {
  position: relative;
  height: 48px;
}

.user .avatar {
  position: absolute;
  display: block;
}

.user .details {
  position: absolute;
  top: 14px;
  left: 72px;
  font-size: 14px;
}

.user .go_button {
  position: absolute;
  right: 15px;
  top: 8px;
}

.user_offline, .user_online {
  padding-left: 3px;
}

.user_offline {
  color: #C61B19;
}

.user_online {
  color: #00A200;
}
