#container {
  padding: 30px 0;
}

#profile {
  margin-left: 180px;
  float: left;
}

#profile .avatar {
  float: left;
}

#profile .username {
  margin-left: 65px;
}

#profile .details {
  margin: 30px 0;
}

.column {
  margin-left: 450px;
  width: 350px;
}