<% title t(".sign_up") %>
<% stylesheet "authentication" %>

<div id="container" class="two_stones">
  <div id="sign_up">
    <h2 class="field"><%= t(".sign_up") %></h2>
    <p class="field"><%= t(".already_have_an_account") %> <%= link_to t(".log_in"), login_path %>.</p>
    <%= render 'form' %>
  </div>
</div>
