<div class="game">
  <%= link_to image_tag("thumbnail/19/board.png", :size => "76x76"), game, :class => "thumbnail" %>
  <div class="details">
    <div class="player black"><%= game.black_player_name %></div>
    <div class="player white"><%= game.white_player_name %></div>
  </div>
  <%= link_to image_tag("game/go_button.png"), game, :size => "46x31", :class => "go_button" %>
</div>
