<h2>My Games</h2>
<% @my_games.each_with_index do |game, index| %>
  <% unless index.zero? %>
    <div class="game_divider"></div>
  <% end %>
  <%= render game %>
<% end %>
<%= render "pagination", :games => @my_games, :game_type => "my" %>
