<% unless games.previous_page.nil? && games.next_page.nil? %>
<div class="pagination">
  <% if games.previous_page %>
    <%= link_to "<", send("#{game_type}_games_path", :page => games.previous_page, :per_page => games.per_page, :format => "js") %>
  <% end %>
  Page <%= games.current_page %>
  <% if games.next_page %>
    <%= link_to ">", send("#{game_type}_games_path", :page => games.next_page, :per_page => games.per_page, :format => "js") %>
  <% end %>
</div>
<% end %>
