<% title "Go Resources" %>

<div id="container" class="three_stones">
  <div id="go_resources">
    <h2>Go Resources</h2>
    <p>Use these links to find everything you want to know about Go.</p>
    <ul>
      <li><a href="http://playgo.to/iwtg/en/">Interactive Go Tutorial</a></li>
      <li><a href="http://www.goproblems.com/">Go Problems</a></li>
      <li><a href="http://gtl.xmp.net/">Go Teaching Ladder</a></li>
      <li><a href="http://senseis.xmp.net/">Sensei's Library</a></li>
      <li><a href="http://gobase.org/">GoBase</a></li>
    </ul>
  </div>
</div>
